<div class="card-image has-text-centered">
  <i class="fas fa-users"></i>
</div>
<div class="card-content">
<div class="content">
<h4>Find a Friend</h4>
<p>Let us help you find the perfect friend using a simple survey!</p>
<a class="button is-danger" href="/survey">
  <span class="icon">
    <i class="fas fa-id-card"></i>
  </span>
  <span>Get Started</span>
</a>